In [12]:
# imports and froms
import pandas as pd
import pymysql
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()

In [13]:
# load CSVs into dataframes
dog_csv = 'Resources/dog_intelligence.csv'
dog_df = pd.read_csv(dog_csv, encoding = 'utf8')
dog_df.head()

               Breed  Classification obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  95%           1           4
1             Poodle  Brightest Dogs  95%           1           4
2    German Shepherd  Brightest Dogs  95%           1           4
3   Golden Retriever  Brightest Dogs  95%           1           4
4  Doberman Pinscher  Brightest Dogs  95%           1           4

In [14]:
# load CSVs into dataframes
hetero60_csv = 'Resources/Table_5_Expected_Heterozygosity_60_breeds.csv'
hetero60_df = pd.read_csv(hetero60_csv, encoding = 'utf8')
hetero60_df.head()

                   Breed  Heterozygosity (x10-4)
0     Scottish Deerhound                  2.0683
1          Field Spaniel                  2.3165
2  Flat-coated Retriever                  2.6474
3   Bernese Mountain Dog                  2.8129
4     Standard Schnauzer                  2.8129

In [15]:
# load CSVs into dataframes
hetero85_csv = 'Resources/Table_4_Heterozygosity_85_breeds.csv'
hetero85_df = pd.read_csv(hetero85_csv, encoding = 'utf8')
hetero85_df.head()

                   Population  Heterozygosit
0          Bedlington Terrier       0.312842
1      Miniature Bull Terrier       0.321619
2                       Boxer       0.343151
3             Clumber Spaniel       0.363595
4  Greater Swiss Mountain Dog       0.364943

In [21]:
# load CSVs into dataframes
akc_csv = 'Resources/AKC Breed Info.csv'
akc_df = pd.read_csv(akc_csv, encoding='latin1')
akc_df.head()

,Breed,height_low_inches,height_high_inches,weight_low_lbs,weight_high_lbs
0,Akita,26,28,80,120
1,Anatolian Sheepdog,27,29,100,150
2,Bernese Mountain Dog,23,27,85,110
3,Bloodhound,24,26,80,120
4,Borzoi,26,28,70,100

In [22]:
# declare connection variables for mypysql and sqlalchemy
host = '127.0.0.1' 
user = 'root'
password = ''
db = 'etl_db'
charset = 'utf8'
port = 3306
cursorclass = pymysql.cursors.DictCursor

In [23]:
# establish mypymsql connection
connection = pymysql.connect(
    host=host,
    user=user,
    password=password,
    charset=charset,
    cursorclass=cursorclass)
cursor_object = connection.cursor()

In [24]:
# create database
sql_create = (f'CREATE DATABASE IF NOT EXISTS {db}')  
cursor_object.execute(sql_create)

# show databases
sql_query = 'SHOW DATABASES'
cursor_object.execute(sql_query)
db_list = cursor_object.fetchall()

for database in db_list:
    print(database)

{'Database': 'etl_db'}
{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'performance_schema'}
{'Database': 'sakila'}
{'Database': 'sys'}
{'Database': 'world'}

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1007, "Can't create database 'etl_db'; database exists")
  self._do_get_result()

In [25]:
# reestablish pymysql connection with database specified
connection = pymysql.connect(
    host=host,
    user=user,
    password=password,
    db=db, 
    charset=charset,
    cursorclass=cursorclass)
cursor_object = connection.cursor()

In [26]:
# create tables
query_list = [
    'CREATE TABLE IF NOT EXISTS akc(Breed VARCHAR(32), height_low_inches INT, height_high_inches INT, weight_low_lbs INT, weight_high_lbs INT)',
    'CREATE TABLE IF NOT EXISTS dogs(Breed VARCHAR(32), Classification VARCHAR(32), obey FLOAT, reps_lower INT, reps_upper INT)',
    'CREATE TABLE IF NOT EXISTS hetero60(Breed VARCHAR(32), Heterozygosity FLOAT)',
    'CREATE TABLE IF NOT EXISTS hetero85(Population VARCHAR(32), Heterozygosit FLOAT)'
]

for query in query_list:
    cursor_object.execute(query)

# show tables
sql_query = 'SHOW TABLES'   
cursor_object.execute(sql_query)
rows = cursor_object.fetchall()

for row in rows:
    print(row)

{'Tables_in_etl_db': 'akc'}
{'Tables_in_etl_db': 'dogs'}
{'Tables_in_etl_db': 'hetero60'}
{'Tables_in_etl_db': 'hetero85'}

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1050, "Table 'dogs' already exists")
  self._do_get_result()
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1050, "Table 'hetero60' already exists")
  self._do_get_result()
C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:329: Warning: (1050, "Table 'hetero85' already exists")
  self._do_get_result()

In [27]:
# establish sqlalchemy connection
con = create_engine(f'mysql+pymysql://{user}:{password}@{host}:{port}/{db}?charset=utf8mb4', echo=False)

# load data into tables
akc_df.to_sql(name='akc', con=con, if_exists='replace', index=False)
dog_df.to_sql(name='dogs', con=con, if_exists='replace', index=False)
hetero85_df.to_sql(name='hetero85', con=con, if_exists='replace', index=False)
hetero60_df.to_sql(name='hetero60', con=con, if_exists='replace', index=False)

In [28]:
# reestablish pymysql connection after loading data
connection = pymysql.connect(
    host=host,
    user=user,
    password=password,
    db=db, 
    charset=charset,
    cursorclass=cursorclass)
cursor_object = connection.cursor()

# show data in tables
query_list = [
    'SELECT * FROM akc LIMIT 10',
    'SELECT * FROM dogs LIMIT 10',
    'SELECT * FROM hetero60 LIMIT 10',
    'SELECT * FROM hetero85 LIMIT 10'
]

for query in query_list:
    cursor_object.execute(query)
    rows = cursor_object.fetchall()

    for row in rows:
        print(row)
        
    print(end='\n')

{'Breed': 'Akita', 'height_low_inches': '26', 'height_high_inches': '28', 'weight_low_lbs': '80', 'weight_high_lbs': '120'}
{'Breed': 'Anatolian Sheepdog', 'height_low_inches': '27', 'height_high_inches': '29', 'weight_low_lbs': '100', 'weight_high_lbs': '150'}
{'Breed': 'Bernese Mountain Dog', 'height_low_inches': '23', 'height_high_inches': '27', 'weight_low_lbs': '85', 'weight_high_lbs': '110'}
{'Breed': 'Bloodhound', 'height_low_inches': '24', 'height_high_inches': '26', 'weight_low_lbs': '80', 'weight_high_lbs': '120'}
{'Breed': 'Borzoi', 'height_low_inches': '26', 'height_high_inches': '28', 'weight_low_lbs': '70', 'weight_high_lbs': '100'}
{'Breed': 'Bullmastiff', 'height_low_inches': '25', 'height_high_inches': '27', 'weight_low_lbs': '100', 'weight_high_lbs': '130'}
{'Breed': 'Great Dane', 'height_low_inches': '32', 'height_high_inches': '32', 'weight_low_lbs': '120', 'weight_high_lbs': '160'}
{'Breed': 'Great Pyrenees', 'height_low_inches': '27', 'height_high_inches': '32', 'weight_low_lbs': '95', 'weight_high_lbs': '120'}
{'Breed': 'Great Swiss Mountain Dog', 'height_low_inches': '23', 'height_high_inches': '28', 'weight_low_lbs': '130', 'weight_high_lbs': '150'}
{'Breed': 'Irish Wolfhound', 'height_low_inches': '28', 'height_high_inches': '35', 'weight_low_lbs': '90', 'weight_high_lbs': '150'}

{'Breed': 'Border Collie', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'Poodle', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'German Shepherd', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'Golden Retriever', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'Doberman Pinscher', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'Shetland Sheepdog', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'Labrador Retriever', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'Papillon', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'Rottweiler', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}
{'Breed': 'Australian Cattle Dog', 'Classification': 'Brightest Dogs', 'obey': '95%', 'reps_lower': 1, 'reps_upper': 4}

{'Breed': 'Scottish Deerhound', 'Heterozygosity (x10-4)': 2.0683}
{'Breed': 'Field Spaniel', 'Heterozygosity (x10-4)': 2.3165}
{'Breed': 'Flat-coated Retriever', 'Heterozygosity (x10-4)': 2.6474}
{'Breed': 'Bernese Mountain Dog', 'Heterozygosity (x10-4)': 2.8129}
{'Breed': 'Standard Schnauzer', 'Heterozygosity (x10-4)': 2.8129}
{'Breed': 'Boxer', 'Heterozygosity (x10-4)': 3.0611}
{'Breed': 'Collie', 'Heterozygosity (x10-4)': 3.0611}
{'Breed': 'Bearded Collie', 'Heterozygosity (x10-4)': 3.1438}
{'Breed': 'Miniature Bull Terrier', 'Heterozygosity (x10-4)': 3.2266}
{'Breed': 'Perro de Presa Canario', 'Heterozygosity (x10-4)': 3.392}

{'Population': 'Bedlington Terrier', 'Heterozygosit': 0.312842}
{'Population': 'Miniature Bull Terrier', 'Heterozygosit': 0.321619}
{'Population': 'Boxer', 'Heterozygosit': 0.343151}
{'Population': 'Clumber Spaniel', 'Heterozygosit': 0.363595}
{'Population': 'Greater Swiss Mountain Dog', 'Heterozygosit': 0.364943}
{'Population': 'Airedale Terrier', 'Heterozygosit': 0.372793}
{'Population': 'Soft Coated Wheaten Terrier', 'Heterozygosit': 0.37376}
{'Population': 'Collie', 'Heterozygosit': 0.383453}
{'Population': 'Doberman Pinscher', 'Heterozygosit': 0.383763}
{'Population': 'Irish Terrier', 'Heterozygosit': 0.390427}

In [29]:
# terminate pymysql connection
connection.close()