In [74]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [75]:
dog_csv = "Resources/dog_intelligence.csv"
dog_df = pd.read_csv(dog_csv, encoding = 'utf8')
dog_df

,Breed,Classification,obey,reps_lower,reps_upper
0,Border Collie,Brightest Dogs,95%,1,4
1,Poodle,Brightest Dogs,95%,1,4
2,German Shepherd,Brightest Dogs,95%,1,4
3,Golden Retriever,Brightest Dogs,95%,1,4
4,Doberman Pinscher,Brightest Dogs,95%,1,4
5,Shetland Sheepdog,Brightest Dogs,95%,1,4
6,Labrador Retriever,Brightest Dogs,95%,1,4
7,Papillon,Brightest Dogs,95%,1,4
8,Rottweiler,Brightest Dogs,95%,1,4
9,Australian Cattle Dog,Brightest Dogs,95%,1,4
10,Pembroke Welsh Corgi,Excellent Working Dogs,85%,5,15
11,Miniature Schnauzer,Excellent Working Dogs,85%,5,15
12,English Springer Spaniel,Excellent Working Dogs,85%,5,15
13,Belgian Shepherd Dog (Tervuren),Excellent Working Dogs,85%,5,15
14,Schipperke,Excellent Working Dogs,85%,5,15
15,Belgian Sheepdog,Excellent Working Dogs,85%,5,15
16,Collie,Excellent Working Dogs,85%,5,15
17,Keeshond,Excellent Working Dogs,85%,5,15
18,German Shorthaired Pointer,Excellent Working Dogs,85%,5,15
19,Flat-Coated Retriever,Excellent Working Dogs,85%,5,15
20,English Cocker Spaniel,Excellent Working Dogs,85%,5,15
21,Standard Schnauzer,Excellent Working Dogs,85%,5,15
22,Brittany,Excellent Working Dogs,85%,5,15
23,Cocker Spaniel,Excellent Working Dogs,85%,5,15
24,Weimaraner,Excellent Working Dogs,85%,5,15
25,Belgian Malinois,Excellent Working Dogs,85%,5,15
26,Bernese Mountain Dog,Excellent Working Dogs,85%,5,15
27,Pomeranian,Excellent Working Dogs,85%,5,15
28,Irish Water Spaniel,Excellent Working Dogs,85%,5,15
29,Vizsla,Excellent Working Dogs,85%,5,15
...,...,...,...,...,...
106,Pug,Fair Working/Obedience Intelligence,30%,41,80
107,French Bulldog,Fair Working/Obedience Intelligence,30%,41,80
108,Griffon Bruxellois,Fair Working/Obedience Intelligence,30%,41,80
109,Maltese,Fair Working/Obedience Intelligence,30%,41,80
110,Italian Greyhound,Fair Working/Obedience Intelligence,30%,41,80
111,Chinese Crested,Fair Working/Obedience Intelligence,30%,41,80
112,Dandie Dinmont Terrier,Fair Working/Obedience Intelligence,30%,41,80
113,Petit Basset Griffon Vend̩en,Fair Working/Obedience Intelligence,30%,41,80
114,Tibetan Terrier,Fair Working/Obedience Intelligence,30%,41,80
115,Japanese Chin,Fair Working/Obedience Intelligence,30%,41,80
116,Lakeland Terrier,Fair Working/Obedience Intelligence,30%,41,80
117,Old English Sheepdog,Fair Working/Obedience Intelligence,30%,41,80
118,Great Pyrenees,Fair Working/Obedience Intelligence,30%,41,80
119,Scottish Terrier,Fair Working/Obedience Intelligence,30%,41,80
120,Saint Bernard,Fair Working/Obedience Intelligence,30%,41,80
121,Bull Terrier,Fair Working/Obedience Intelligence,30%,41,80
122,Chihuahua,Fair Working/Obedience Intelligence,30%,41,80
123,Lhasa Apso,Fair Working/Obedience Intelligence,30%,41,80
124,Bullmastiff,Fair Working/Obedience Intelligence,30%,41,80
125,Shih Tzu,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
126,Basset Hound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
127,Mastiff,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
128,Beagle,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
129,Pekingese,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
130,Bloodhound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
131,Borzoi,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
132,Chow Chow,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
133,Bulldog,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
134,Basenji,Lowest Degree of Working/Obedience Intelligence,NaN,81,100
135,Afghan Hound,Lowest Degree of Working/Obedience Intelligence,NaN,81,100

In [76]:
hetero85_csv = "Resources/Table_4_Heterozygosity_85_breeds.csv"
hetero85_df = pd.read_csv(hetero85_csv, encoding = 'utf8')
hetero85_df.head()

                   Population  Heterozygosit
0          Bedlington Terrier       0.312842
1      Miniature Bull Terrier       0.321619
2                       Boxer       0.343151
3             Clumber Spaniel       0.363595
4  Greater Swiss Mountain Dog       0.364943

In [77]:
hetero60_csv = "Resources/Table_5_Expected_Heterozygosity_60_breeds.csv"
hetero60_df = pd.read_csv(hetero60_csv, encoding = 'utf8')
hetero60_df.head()

                   Breed  Heterozygosity (x10-4)
0     Scottish Deerhound                  2.0683
1          Field Spaniel                  2.3165
2  Flat-coated Retriever                  2.6474
3   Bernese Mountain Dog                  2.8129
4     Standard Schnauzer                  2.8129

In [78]:
# engine_dog = create_engine('sqlite:///dog.db')
# Base.metadata.create_all(engine_dog)

# # file_name = 'client_db.csv'
# df.to_sql(con=engine_dog, index_label='id', name=cdb1.__tablename__, if_exists='replace')

In [61]:
# from numpy import genfromtxt
# from time import time
# from datetime import datetime
# from sqlalchemy import Column, Integer, Float, Date, String, VARCHAR
# from sqlalchemy.ext.declarative import declarative_base
# from sqlalchemy import create_engine
# from sqlalchemy.orm import sessionmaker
# import csv
# import pandas as pd


# #def Load_Data(file_name):
#     #data = csv.reader(file_name, delimiter=',')# skiprows=1, converters={0: lambda s: str(s)})
#     #return data.tolist()

# Base = declarative_base()

# class cdb1(Base):
#     #Tell SQLAlchemy what the table name is and if there's any table-specific arguments it should know about
#     __tablename__ = 'cdb1'
#     __table_args__ = {'sqlite_autoincrement': True}
#     #tell SQLAlchemy the name of column and its attributes:
#     id = Column(Integer, primary_key=True, nullable=False) 
#     Name = Column(VARCHAR(40))
#     Shack = Column(VARCHAR)
#     DB = Column(Integer)
#     Payments = Column(Integer)
#     Status = Column(VARCHAR)

# engine = create_engine('sqlite:///cdb.db')
# Base.metadata.create_all(engine)
# # file_name = 'client_db.csv'
# # df = pd.read_csv(file_name)
# dog_df.to_sql(con=engine, index_label='id', name=cdb1.__tablename__, if_exists='replace')

In [79]:
# import the mysql client for python
import pymysql

# Create a connection object
databaseServerIP = "127.0.0.1"  # IP address of the MySQL database server
databaseUserName = "root"       # User name of the database server
databaseUserPassword = ""           # Password for the database user
newDatabaseName = "etl_db" # Name of the database that is to be created
charSet = "utf8"     # Character set
cusrorType = pymysql.cursors.DictCursor

connectionInstance = pymysql.connect(
    host=databaseServerIP,
    user=databaseUserName,
    password=databaseUserPassword,
    charset=charSet,
    cursorclass=cusrorType)
# connectionInstance.set_character_set('utf8')

try:
    # Create a cursor object
    cursor_object = connectionInstance.cursor()                                    
#     cursor_object.execute('SET NAMES utf8;')
#     cursor_object.execute('SET CHARACTER SET utf8;')
#     cursor_object.execute('SET character_set_connection=utf8;')
    
    # SQL Statement to create a database
    sqlStatement = "CREATE DATABASE "+newDatabaseName  

    # Execute the create database SQL statment through the cursor instance
    cursor_object.execute(sqlStatement)

    # SQL query string
    sqlQuery = "SHOW DATABASES"
 
    # Execute the sqlQuery
    cursor_object.execute(sqlQuery)

    #Fetch all the rows
    databaseList = cursor_object.fetchall()

    for datatbase in databaseList:
        print(datatbase)

except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connectionInstance.close()

{'Database': 'etl_db'}
{'Database': 'information_schema'}
{'Database': 'mysql'}
{'Database': 'newdatabase'}
{'Database': 'performance_schema'}
{'Database': 'sakila'}
{'Database': 'sys'}
{'Database': 'test_db'}
{'Database': 'world'}

In [85]:
# import the mysql client for python
import pymysql

# Create a connection object
dbServerName    = "127.0.0.1"
dbUser          = "root"
dbPassword      = ""
dbName          = "etl_db"
charSet         = "utf8"
cursorType      = pymysql.cursors.DictCursor

connectionObject = pymysql.connect(
    host=dbServerName, 
    user=dbUser, 
    password=dbPassword,
    db=dbName, 
    charset=charSet,
    cursorclass=cursorType)

try:
    # Create a cursor object
    cursorObject = connectionObject.cursor()                                     

    # SQL query string
#     sqlQuery = 'CREATE TABLE dogs(Breed varchar(32), Classification varchar(32), obey float, reps_lower int, reps_upper int)'
#     sqlQuery = 'CREATE TABLE hetero85(Population varchar(32), Heterozygosit float)'
    sqlQuery = 'CREATE TABLE hetero60(Breed varchar(32), Heterozygosity float)'
    
#     id int, LastName varchar(32), FirstName varchar(32), DepartmentCode int)"
# Breed Classification obey reps_lower reps_upper
    # Execute the sqlQuery
    cursorObject.execute(sqlQuery)

    # SQL query string
    sqlQuery = "show tables"   

    # Execute the sqlQuery
    cursorObject.execute(sqlQuery)

    #Fetch all the rows
    rows = cursorObject.fetchall()

    for row in rows:
        print(row)

except Exception as e:
    print("Exeception occured:{}".format(e))

finally:
    connectionObject.close()

{'Tables_in_etl_db': 'dogs'}
{'Tables_in_etl_db': 'hetero60'}
{'Tables_in_etl_db': 'hetero85'}

In [19]:
# try:
#     # Create a cursor object
#     cursorObject = connectionObject.cursor()                                     

#     # SQL query string
#     sqlQuery = 'CREATE TABLE hetero85_df(Population varchar(32), Heterozygosit float)'
# #     dogs(Breed varchar(32), Classification varchar(32), obey float, reps_lower int, reps_upper int)'
# #     id int, LastName varchar(32), FirstName varchar(32), DepartmentCode int)"
# # Breed Classification obey reps_lower reps_upper
#     # Execute the sqlQuery
#     cursorObject.execute(sqlQuery)

#     # SQL query string
#     sqlQuery = "show tables"   

#     # Execute the sqlQuery
#     cursorObject.execute(sqlQuery)

#     #Fetch all the rows
#     rows = cursorObject.fetchall()

#     for row in rows:
#         print(row)

# except Exception as e:
#     print("Exeception occured:{}".format(e))

# finally:
#     connectionObject.close()

In [41]:
# cnx = create_engine('mysql+pymysql://root@127.0.0.1:3306/etl_db', echo=False)

# data = pd.read_sql('SELECT * FROM dogs', cnx)
# data.to_sql(name='dogs', con=cnx, if_exists = 'append', index=False)

In [83]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

user = 'root'
passw = ''
host =  '127.0.0.1'  # either localhost or ip e.g. '172.17.0.2' or hostname address 
port = 3306 
database = 'etl_db'
# connect_string = 'mysql+pymysql://{}:{}@{}:{}/{}?charset=utf8mb4'.format(DB_USER, DB_PASS, DB_HOST, DB_PORT, DATABASE)

mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database + '?charset=utf8mb4', echo=False)
# db.set_character_set('utf8')
# dbc.execute('SET NAMES utf8;')
# dbc.execute('SET CHARACTER SET utf8;')
# dbc.execute('SET character_set_connection=utf8;')

# directory = r'directoryLocation'  # path of csv file
# csvFileName = 'something.csv'

# df = pd.read_csv(os.path.join(directory, csvFileName ))

dog_df.to_sql(name='dogs', con=mydb, if_exists = 'replace', index=False)

In [86]:
mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

# directory = r'directoryLocation'  # path of csv file
# csvFileName = 'something.csv'

# df = pd.read_csv(os.path.join(directory, csvFileName ))

hetero85_df.to_sql(name='hetero85', con=mydb, if_exists = 'replace', index=False)

In [87]:
mydb = create_engine('mysql+pymysql://' + user + ':' + passw + '@' + host + ':' + str(port) + '/' + database , echo=False)

# directory = r'directoryLocation'  # path of csv file
# csvFileName = 'something.csv'

# df = pd.read_csv(os.path.join(directory, csvFileName ))

hetero60_df.to_sql(name='hetero60', con=mydb, if_exists = 'replace', index=False)