In [8]:
import pandas as pd
from sqlalchemy import create_engine
import pymysql
pymysql.install_as_MySQLdb()

In [9]:
dog_csv = "Resources/dog_intelligence.csv"
dog_df = pd.read_csv(dog_csv)
dog_df.head()

               Breed  Classification obey  reps_lower  reps_upper
0      Border Collie  Brightest Dogs  95%           1           4
1             Poodle  Brightest Dogs  95%           1           4
2    German Shepherd  Brightest Dogs  95%           1           4
3   Golden Retriever  Brightest Dogs  95%           1           4
4  Doberman Pinscher  Brightest Dogs  95%           1           4

In [10]:
hetero85_csv = "Resources/Table_4_Heterozygosity_85_breeds.csv"
hetero85_df = pd.read_csv(hetero85_csv)
hetero85_df.head()

                   Population  Heterozygosit
0          Bedlington Terrier       0.312842
1      Miniature Bull Terrier       0.321619
2                       Boxer       0.343151
3             Clumber Spaniel       0.363595
4  Greater Swiss Mountain Dog       0.364943

In [11]:
hetero60_csv = "Resources/Table_5_Expected_Heterozygosity_60_breeds.csv"
hetero60_df = pd.read_csv(hetero60_csv)
hetero60_df.head()

                   Breed  Heterozygosity (x10-4)
0     Scottish Deerhound                  2.0683
1          Field Spaniel                  2.3165
2  Flat-coated Retriever                  2.6474
3   Bernese Mountain Dog                  2.8129
4     Standard Schnauzer                  2.8129

In [ ]:
# next